# Python bytecode:
*.pyc
*.pyo

# Packaging files:
*.egg*

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# Eclipse
.project
.pydevproject
.settings

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

# Result files
*.csv
